/* Στυλ για τη Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Στυλ για τα Links του Μενού */
.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-menu li {
    position: relative;
    margin: 0 15px;
}

.nav-menu a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav-menu a:hover {
    background: var(--link-hover-color);
    border-radius: 5px;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 10;
    background: var(--secondary-color);
    min-width: 100px;
    list-style: none;
    padding: 10px 10px;
    border-radius: 5px;
    z-index: 1000;
}

.dropdown-menu li {
    display: block; /* Κάνει κάθε στοιχείο να είναι σε νέο γραμμή (μπλοκ) */
    margin: 5px 0; /* Κενό μεταξύ των στοιχείων */
    padding: 10px;
    background-color: var(--primary-color); /* Χρώμα φόντου για το κάθε κουτάκι */
    border-radius: 5px;
}

.dropdown-menu li:hover {
    background-color: var(--hover-color); /* Αλλαγή χρώματος κατά την επαφή με το ποντίκι */
    cursor: pointer;
}

.dropdown-menu a {
    padding: 5px;
    display: block;
    color: var(--light-color);
}

.dropdown-menu a:hover {
    background: var(--hover-color);
}

/* Εμφάνιση του Dropdown όταν περνά το ποντίκι */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Responsive Menu – Mobile View */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    background: white;
    height: 3px;
    width: 25px;
    margin: 4px;
    display: block;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: #222;
    }
    .nav-menu li {
        text-align: center;
        margin: 0;
    }
    .nav-menu a {
        padding: 15px;
    }
    .nav-menu.active {
        display: flex;
    }
}
