
:root {
    --primary-color: #D35400; /* Σκούρο πορτοκαλί για κύρια στοιχεία */
    --secondary-color: #F39C12; /* Ζεστό Κίτρινο για highlights */
    --accent-color: #E74C3C; /* Ροζ Χρυσό για το hover ή ειδικά κουμπιά */
    --background-color: #f8dcdc; /* Ανοιχτό Παστέλ Ροζ για background */
    --text-color: #2C3E50; /* Σκούρο Γκρι για το κείμενο */
    --hover-color: #FF5733; /* Κόκκινο για hover */
    --shadow-color: #0000001a;
}
        body {
            font-family: Arial, sans-serif;
            background-color: var(--background-color);
	        margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            padding-top: 30px;
        }

	    html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }    

        h1, h2, h3, h4, h5,h6{
            font-family: 'Lato',sans-serif;
        }
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 36px;
        }
        h3{
            font-size: 24px;
        }
        h4{
            font-size: 18px;
        }
        h5{
            font-size: 16px;
        }
        h6{
            font-size: 14px;
        }
    
        #header {
            background-color: var(--primary-color);
            color: var(--text-color);
            text-align: center;
            padding: 10px 0px 10px;
            font-size: 20px;
            width: 100%;
            margin-top: 0px;
    	    margin-bottom: 30px;
        }

	    #footer {
            margin-top: auto;
            background-color: var(--primary-color);
            color:  var(--text-color);
            text-align: center;
            padding:  10px 0px 10px;
            font-size: 14px;
            width: 100%;
        }
        .category-container {
            display: flex;
            flex-wrap: wrap; /* Επιτρέπει στα στοιχεία να πάνε σε νέα γραμμή */
            gap: 10px; /* Προσθέτει κενό μεταξύ τους */
            justify-content: center; /* Κεντράρει τα στοιχεία */
        }
        @media (max-width: 768px) {
            .category-container {
                grid-template-columns: repeat(1, 1fr); /* 1 στήλη σε μικρές οθόνες */
            }
        }
        
        .category {
 /*           flex: 1 1 calc(50% - 10px); */
            padding: 20px;
            background-color:  var(--secondary-color);
            color:  var(--text-color);
            font-size: 24px;
            text-decoration: none;
            border-radius: 10px;
            transition: 0.3s;
            margin-bottom: 20px 0;
        }

        .category:hover {
            background-color: var(--hover-color);
	    color: var(--text-color);
        }

       .answer-btn {
            font-size: 20px;
            padding: 10px 20px;
            margin: 20px;
            cursor: pointer;
            width: 200px;
            background-color: var(--secondary-color);
            color: var(--text-color);
            border: none;
            border-radius: 5px;
        }

        .answer-btn:hover {
            background-color: var(--hover-color);
            color: var(--text-color); 
        }

        #startButton, #nextButton, #restartButton {
            font-size: 30px;
            padding: 20px 40px;
            background-color: var(--secondary-color);
            color: var(--text-color);
            border: none;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 20px;
        }
	#anotherButton {
	    font-size: 20px;
	    padding: 15px; auto;
        background-color: var(--secondary-color);
            color: var(--text-color);
            border: none;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 20px;
	}

    #anotherButton:hover {
        background-color: var(--hover-color);
    }

        #timer {
            font-size: 20px;
            color: red;
            margin-top: 20px;
        }

        .selection {
            font-size: 18px;
            margin-bottom: 20px;
            text-align: center;
        }

        .columns {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-bottom: 30px;
        }

        .column {
            text-align: left;
        }

        .question {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .result {
            font-size: 30px;
            margin-top: 20px;
            color: var(--text-color);
        }

        #totalTime {
            font-size: 18px;
            margin-top: 20px;
        }

        #restartContainer {
            margin-top: 30px;
        }

        #answerInput {
            font-size: 24px; /* Αυξάνει το μέγεθος της γραμματοσειράς */
            padding: 10px; /* Αυξάνει το εσωτερικό κενό (padding) */
            width: 110px; /* Ρυθμίζει το πλάτος του πεδίου */
            margin-top: 10px; /* Προσθέτει απόσταση από το πάνω μέρος */
            text-align: center; /* Κεντράρει το κείμενο στο πεδίο */
            border-radius: 5px; /* Κάνει τις γωνίες στρογγυλές */
            background-color: var(--secondary-color);
            color:var(--text-color)
        }
	.quiz-info {
	    max-width: 600px; /* Περιορίζει το πλάτος */
	    margin: 0 auto; /* Κεντράρει τη div */
	    padding: 15px;
	    background-color: var(--accent-color); /* Ανοιχτό γκρι background */
	    border-radius: 10px; /* Στρογγυλεμένες γωνίες */
	    box-shadow: 0px 14px 20px var(--shadow-color); /* Ελαφριά σκιά */
	    font-size: 18px;
	    line-height: 1.6;
	    text-align: center;
	}

        .formula {
            font-style: italic;
            margin-top: 10px;
        }

        .hidden {
            display: none;
        }
	    input {
            font-size: 18px;
            padding: 5px;
            margin: 5px;
            width: 30px;
            text-align: center;
        }
        .container {
            margin: 0;
        }
        table {
            margin-top: 20px;
            border-collapse: collapse;
            width: 10px;
            text-align: center;
        }
    .mathjax {
        font-size: 20px; /* Μπορείς να το προσαρμόσεις όπως θέλεις */
        line-height: 1.5; /* Κανονίζει την απόσταση μεταξύ των γραμμών */
        color: var(--text-color);
    }
.buttons-container {
    display: flex; /* Χρησιμοποιούμε flexbox για να τα στοιχίσουμε */
    justify-content: center; /* Στοιχίζουμε τα κουμπιά στο κέντρο */
    gap: 10px; /* Απόσταση μεταξύ των κουμπιών */
}
a.donation-link {
    color: white !important; /* Εξασφαλίζει ότι ο σύνδεσμος θα παραμείνει λευκός */
    text-decoration: none; /* Αφαιρεί την υπογράμμιση (προαιρετικά) */
    font-size: 16px;
}

a.donation-link:hover {
    color: grey; /* Ελαφρώς διαφορετική απόχρωση στο hover (προαιρετικά) */
}

 /*        <link rel="stylesheet" href="../style.css">
